USE [master]
GO
/****** Object:  Database [DAI-Disney]    Script Date: 10/5/2023 08:36:17 ******/

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAI-Disney].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAI-Disney]
GO
/****** Object:  User [alumno]    Script Date: 10/5/2023 08:36:18 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Peli]    Script Date: 10/5/2023 08:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peli](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](max) NULL,
	[Titulo] [varchar](50) NULL,
	[FechaCreacion] [date] NULL,
	[Calificacion] [int] NULL,
 CONSTRAINT [PK_PeliculasYSeries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 10/5/2023 08:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](max) NULL,
	[Nombre] [varchar](50) NULL,
	[Edad] [int] NULL,
	[Peso] [int] NULL,
	[Historia] [varchar](250) NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonajesXPeli]    Script Date: 10/5/2023 08:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonajesXPeli](
	[fkPersonaje] [int] NOT NULL,
	[fkPeli] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Peli] ON 

SET IDENTITY_INSERT [dbo].[Peli] OFF
GO
SET IDENTITY_INSERT [dbo].[Personaje] ON 

INSERT [dbo].[Personaje] ([Id], [Imagen], [Nombre], [Edad], [Peso], [Historia]) VALUES (1, N'https://i.pinimg.com/originals/b8/b4/6b/b8b46bd1d975afdc5440cd4fb6207aad.jpg', N'Jordan Belfort', 36, 68, N'Jordan Ross Belfort? ? es un conferenciante y ex bróker estadounidense.? Es conocido por haber sido acusado y declarado culpable por manipulación del mercado de valores, lavado de dinero y otros delitos relacionados con las altas finanzas')
SET IDENTITY_INSERT [dbo].[Personaje] OFF
GO
INSERT [dbo].[PersonajesXPeli] ([fkPersonaje], [fkPeli]) VALUES (1, 1)
INSERT [dbo].[PersonajesXPeli] ([fkPersonaje], [fkPeli]) VALUES (2, 1)
INSERT [dbo].[PersonajesXPeli] ([fkPersonaje], [fkPeli]) VALUES (3, 2)
GO
ALTER TABLE [dbo].[PersonajesXPeli]  WITH CHECK ADD  CONSTRAINT [FK_PersonajesXPeli_Peli] FOREIGN KEY([fkPeli])
REFERENCES [dbo].[Peli] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonajesXPeli] CHECK CONSTRAINT [FK_PersonajesXPeli_Peli]
GO
ALTER TABLE [dbo].[PersonajesXPeli]  WITH CHECK ADD  CONSTRAINT [FK_PersonajesXPeli_Personaje] FOREIGN KEY([fkPersonaje])
REFERENCES [dbo].[Personaje] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonajesXPeli] CHECK CONSTRAINT [FK_PersonajesXPeli_Personaje]
GO
USE [master]
GO
